<!-- component -->
<div class="flex flex-col w-full items-center mt-8">
    <div class="relative max-w-md mx-auto md:max-w-3xl mt-6 min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-xl mt-16">
        <div class="px-6">
            <div class="flex flex-wrap justify-center">
                <div class="w-full flex justify-center">
                    <div class="relative">
                        <% if @user.avatar.present? %>
                            <%= image_tag @user.avatar.variant(resize_to_fit: [150, 150]), class: " shadow-xl rounded-full align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px] max-h-[150px]" %>
                        <% else %>
                            <img src="https://github.com/creativetimofficial/soft-ui-dashboard-tailwind/blob/main/build/assets/img/team-2.jpg?raw=true" class="shadow-xl rounded-full align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]"/>
                        <% end %>
                    </div>
                </div>
                <div class="w-full text-center mt-20">
                    <div class="flex justify-center lg:pt-4 pt-8 pb-0">
                        <div class="p-3 text-center">
                            <span class="text-xl font-bold block uppercase tracking-wide text-slate-700"> <%= @user.posts.count %> </span>
                            <span class="text-sm text-slate-400">Posts</span>
                        </div>
                        <div class="p-3 text-center">
                            <span class="text-xl font-bold block uppercase tracking-wide text-slate-700"><%= @total_likes_posts %></span>
                            <span class="text-sm text-slate-400">Likes</span>
                        </div>

                        <div class="p-3 text-center">
                            <span class="text-xl font-bold block tracking-wide text-slate-700">Updating</span>
                            <span class="text-sm text-slate-400">Following</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-2">
                <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1"><%= @user.name %></h3>
                <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
                    <i class="fas fa-map-marker-alt mr-2 text-slate-400 opacity-75"></i>Paris, France
                </div>
            </div>
            <div class="mt-6 py-6 border-t border-slate-200 text-center">
                <div class="flex flex-wrap justify-center">
                    <div class="w-full px-4">
                        <p class="font-light leading-relaxed text-slate-600 mb-4">
                            <%= @user.about.present? ? @user.about : "No information provided yet." %>
                        </p>
                        <% if current_user == @user %>
                            <%= link_to "Edit profile", edit_profile_path,data: {turbo_frame: "modal"}, class: "px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= turbo_frame_tag "modal" %>
    <div class=" grid grid-cols-2 lg:grid-cols-3">
        <%= render partial: 'profiles/user_posts', post: @post %>
    </div>
</div>