<div class=" max-w-2xl px-4 py-10 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <div class="flex items-center justify-between">
        <span class="text-sm font-light text-gray-600 dark:text-gray-400"><%= post.created_at.strftime("%^b-%d-%Y") %></span>
        <a class="px-3 py-1 text-sm font-bold text-gray-100 transition-colors duration-300 transform bg-gray-600 rounded cursor-pointer hover:bg-gray-500" tabindex="0" role="button">Design</a>
    </div>

    <div class="mt-2">
        <a href="#" class="text-xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline" tabindex="0" role="link">
          <%= post.title %>
        </a>
        <p class="mt-2 text-gray-600 dark:text-gray-300">
          <%= post.content.truncate(100) %>
        </p>
    </div>

    <div class="flex items-center justify-between mt-4">
        <%= link_to "Read more", post_path(post.id), class: "text-blue-600 dark:text-blue-400 hover:underline", tabindex: 0, role: "link" %>
        <div class="flex items-center">
            <img class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block" src="https://images.unsplash.com/photo-1502980426475-b83966705988?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=40&q=80" alt="avatar">
            <a class="font-bold text-gray-700 cursor-pointer dark:text-gray-200" tabindex="0" role="link"><%= post.user.email %></a>
        </div>
    </div>
</div>

