<div class="p-8 shadow-lg border-gray-50">
     <% if post.picture.present? %>
        <%= image_tag post.picture , class: "object-cover object-center w-full h-64 rounded-lg lg:h-80" %>
    <% else %>
        <img class="object-cover object-center w-full h-64 rounded-lg lg:h-80" src="https://images.unsplash.com/photo-1624996379697-f01d168b1a52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
    <% end %>

    <div class="mt-8">

            <%= link_to category_path(post.category), class: "text-white-500 bg-blue-100 mr-2 p-1 " do %>
            
                <%= post.category.name %>
            
            <% end %>


        <h1 class="mt-4 text-xl font-semibold text-gray-800 dark:text-white">
            <%= post.title %>
        </h1>

        <p class="mt-2 text-gray-500 dark:text-gray-400">
            <%= post.content.to_plain_text.truncate(40) %>
        </p>

        <div class="flex items-center justify-between mt-4">
            <div>
                <%= link_to profile_path(post.user), class: "text-lg font-medium text-gray-700 dark:text-gray-300 hover:underline hover:text-gray-500" do %>
                    <%= post.user.name %>
                <% end %>

                <p class="text-sm text-gray-500 dark:text-gray-400"><%= post.created_at.strftime("%B %d,%Y") %></p>
            </div>
            <%= link_to "Read more", post_path(post.id), class: "inline-block text-blue-500 underline hover:text-blue-400" %>
            <% if minimal_details %>
                <%= link_to "Delete", admin_user_post_path(@user, post),data: { turbo_method: :delete }, class: "inline-block text-blue-500 underline hover:text-blue-400" %>
            <% end %>
            
        </div>

    </div>
</div>